<div class="py-6 bg-light text-muted">
  <div class="container">
     <div class="row">
        <div class="mb-5 mb-lg-0 col-lg-4">
           <div class="font-weight-bold text-uppercase text-dark mb-3">TRApps</div>
           <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="mb-5 mb-lg-0 col-md-6 col-lg-2">

        </div>
        <div class="mb-5 mb-lg-0 col-md-6 col-lg-2">
           <div class="font-weight-bold text-uppercase text-dark mb-3">Pages</div>
           <ul class="list-unstyled">
              <li><a class="text-muted" href="http://rpl.kd-cibiru.upi.edu">RPL UPI</a></li>
              <li><a class="text-muted" href="http://www.upi.edu">Universitas Pendidikan Indonesia</a></li>
           </ul>
        </div>
        <div class="mb-5 mb-lg-0 col-lg-4">
           <div class="font-weight-bold text-uppercase text-dark mb-3">Daily Offers &amp; Discounts</div>
           <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
           <form id="newsletter-form" class="">
              <div class="input-group mb-3">
                 <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="bg-transparent border-dark border-right-0 form-control">
                 <div class="input-group-append"><button class="btn-outline-dark border-left-0 btn btn-deoco"><i class="fa fa-paper-plane text-lg"></i></button></div>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
<div class="py-4 font-weight-light bg-secondary text-light">
  <div class="container">
     <div class="align-items-center row">
        <div class="text-center text-md-left col-md-6">
           <p class="text-sm mb-md-0">© 2020, Your company.  All rights reserved.</p>
        </div>
        <div class="col-md-6">

        </div>
     </div>
  </div>
</div>