{% extends "layout.html" %}
{% block content %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-12">
              	{% for fileAns in images %}
					<div class="col-md-4">
						{{ fileAns.Nama_Mahasiswa }}
						<img src="{{ fileAns.Choose_File.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
					</div>
				{% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}


