{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-12">
				<form method = "post" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="mb-4">
                        {% crispy form %}
                    </div>
					<button class="btn btn-primary" type="submit">Upload Image</button>
				</form>
            </div>
        </div>
    </div>
</section>
{% endblock %}





