{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-6">
                <h2 class="hero-heading mb-4">Jadwal Ujian</h2>
                <hr class="my-4"/>
                <form method="POST" enctype="multipart/form-data">
                    <!-- Security token -->
                    {% csrf_token %}
                    <div class="mb-4">
                        {% crispy form %}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <div class="col-lg-6">
                <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th>No.</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>Total Score</th>
                </tr>
                  </thead>
                  <tr>
                  <td>File</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td>upload</td>
                  <td rowspan="2">100</td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>score 1</td>
                    <td>score 2</td>
                    <td>score 3</td>
                    <td>score 4</td>
                    <td>score 5</td>
                    <td>score 6</td>
                    <td>score 7</td>
                    <td>score 8</td>
                </tr>
                {% for data in dataset %}

                {% endfor %}
              </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
