{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-6">
                <h2 class="hero-heading mb-4">Jadwal Ujian</h2>
                <hr class="my-4"/>
                <form method="POST" enctype="multipart/form-data">
                    <!-- Security token -->
                    {% csrf_token %}
                    <div class="mb-4">
                        {% crispy form %}
                        <br>
                        {% for kunci in kunci_jawaban %}
                        <div class="form-group">
                            <input type="file" name="jawaban-{{ kunci.id }}">
                        </div>
                        {% endfor %}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <div class="p-xl-5 col-lg-6">
                <h3>Nama Mahasiswa: <strong>{{ mahasiswa.nama }}</strong></h3>
                <hr class="my-4"/>
                <ul>
                    {% for kunci in kunci_jawaban %}
                    <li>
                        <div>jawaban: {{ kunci.jawaban }}</div>
                        <div>poin: {{ kunci.point }}</div>
                        <div>score: {{ kunci.score|default:"" }}</div>
                    </li>
                    {% endfor %}
                </ul>
                <div>
                    <h4>Total Score: <strong>{{ mahasiswa.nama }}</strong></h4>
                </div>
                {% for data in dataset %}

                {% endfor %}
              </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
