{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-6">
                <h2 style="text-align:center;">Jadwal Ujian</h2>
                <hr class="my-4"/>
                <form method="POST" enctype="multipart/form-data">
                    <!-- Security token -->
                    {% csrf_token %}
                    <div class="mb-4">
                        {% crispy form %}
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-lg-6">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Tanggal Ujian</th>
                            <th>Mata Kuliah</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    {% for data in dataset %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.tanggalUjian }}</td>
                        <td>{{ data.mata_kuliah }}</td>
                        <td><a href="{% url 'kunciJawaban' id=data.id %}">
                            <span class="glyphicon glyphicon-pencil">Add</span>
                        </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}