{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-6">
                <h2 style="text-align:center;">Kunci Jawaban</h2>
                <hr class="my-4"/>
                <p>Tanggal Ujian : {{test_instance.tanggalUjian}} </p>
                <p> Mata Kuliah : {{test_instance.mata_kuliah}} </p>
                <form method="POST" enctype="multipart/form-data">
                    <!-- Security token -->
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="hidden" name="tanggalUjian" value="{{test_instance.id}}">
                        <input type="hidden" name="mata_kuliah" value="{{test_instance.mata_kuliah}}">
                        {% crispy form %}
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-lg-6">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>No.</th>
                      <th>Jawaban</th>
                      <th>Point</th>
                    </tr>
                  </thead>

                {% for data in dataset %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.jawaban }}</td>
                    <td>{{ data.point }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}