{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class="">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="p-xl-5 col-lg-6">
                <h2 style="text-align:center;">Score Ujian Mahasiswa</h2>
                <hr class="my-4"/>
                <p> Tanggal Ujian : {{test_instance.tanggalUjian}}</p>
                <p>Mata Kuliah : {{test_instance.mata_kuliah}}</p>
            </div>
            <div class="col-lg-6">
                  <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>No.</th>
                          <th>Nama Mahasiswa</th>
                          <th>Score</th>
                        </tr>
                      </thead>

                    {% for data in dataset %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.nama_mahasiswa }}</td>
                        <td>{{ data.score }} </td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
